<template id="licenseViewItemTemplate">
    <!-- SILENTINFO: productGuid:{{productGuid}},productNameCode:{{productNameCode}},productDisplayName:{{productDisplayName}},productVersion:{{productVersion}},productType:{{productType}},productDescriptionCode:{{productDescriptionCode}},productDescriptionText:{{productDescriptionText}},productBaseImageName:{{productBaseImageName}},licenseType:{{licenseType}},licenseStatus:{{licenseStatus}},deviceName:{{deviceName}},deviceKeyString:{{deviceKeyString}},deviceType:{{deviceType}}-->
    <li class="listLine productLine licenseLine">
        <div class="productColumn">
            <!-- Product information -->
            <div class="productInfoContainer">
                <!-- Left Section: picture -->
                <div class="leftPic">
                    <div class="imagePlacer boxy">
                        <!-- picture  -->
                        <div class="productList-image-container">
                            <img src="images/products/icons/{{productBaseImageName}}.png"/>
                        </div>
                    </div>
                </div>
                <!-- Right Section: Name, version, description, supported platforms -->
                <div class="rightInfo spacer-from-right">
                    <!-- Name, version-->
                    <div class="nameAndVersionInfo">
                        <span class="titleHolder boxy productList-product-name">{{productDisplayName}}</span>
                        <span class="title boxy spacer-from-right productList-product-version">{{productVersion}}</span>
                    </div>
                    <!-- description -->
                    <div class="descriptionContainer spacer-from-top">
                        <span class="titleHolder boxy descriptionProduct">{{productDescriptionText}}</span>
                    </div>
                    <!-- supported platforms -->
                    <div class="platformsContainer boxy spacer-from-top">
                        <div class="formatGroup boxy">
                            <span class="format aax"></span>
                            <span>AAX</span>
                        </div>

                        <div class="formatGroup spacer-from-right boxy">
                            <span class="format au"></span>
                            <span>AU</span>
                        </div>

                        <div class="formatGroup spacer-from-right boxy">
                            <span class="format vst"></span>
                            <span>VST</span>
                        </div>

                    </div>
                </div>
            </div>

<div class="licenseInfoContainer">
    <
</div>
            licenseType:{{licenseType}},licenseStatus:{{licenseStatus}}
            ,deviceName:{{deviceName}},
            deviceKeyString:{{deviceKeyString}},deviceType:{{deviceType}}

            <span class="product-icon-{{productType}} productIcon"></span>
            <span class="productList-product-category">{{productCategoryCode}}</span>
        </div>
    </li>
</template>